html{
    box-sizing: border-box;
  }
  

  



.video {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 10px;
  }

.video img{
    width: 100%;
    max-width: 550px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
  }